* {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

header {
  border: 1px solid red;
  justify-content: space-between;
  padding: 8px 70px;
  align-items: center;
}

header ul {
  /* background: red; */
  list-style-type: none;
  gap: 16px;
}

header ul li a {
  text-decoration: none;
}

section {
  height: 600px;
  border: 1px solid red;
  overflow: auto;
}

.sticky-elm h2 {
  position: sticky;
  bottom: 0;
}

.css-list {
  padding-left: 24px;
}

.css-list ul {
  list-style-type: disc;
  list-style-type: circle;
  list-style-type: square;
  /* list-style-type: none; */
}

.css-list ol {
  list-style-type: lower-roman;
  list-style-type: upper-roman;
  list-style-type: upper-alpha;
  list-style-type: upper-latin;
  list-style-type: none;
}
.table table {
  width: 100%;
}
.table table td {
  padding: 8px 12px;
  text-align: end;
}
